.side-bar {
  background: #2f3e51;
  height: 100vh;
  float: left;
  width: 300px;
  .header {
    background: #253141;
    width: 300px;
    display: inline-block;
    height: 100px;
    &__name {
      font-size: 16px;
      color: #FFFFFF;
      font-weight: bold;
      float: left;
      padding: 0 0 0 20px;
      line-height: 110px;
    }
    i {
      color: white;
    }
    .edit{
      float: right;
      line-height: 110px;
      display: inline;
      font-size: 1.3rem;
      color: white;
      padding-right: 5px;
    }
    .group{
      float: right;
      line-height: 110px;
      display: inline;
      font-size: 1.3rem;
      color: white;
      padding-right: 20px;
    }
  }
  }
  .groups{
    padding: 120px 20px 20px 20px;
    .group{
      padding-top: 10px;
      margin-bottom: 40px;
      &__name{
        font-size: 15px;
        color: #FFFFFF;
        text-decoration: none;
      }
      &__message{
        font-size: 11px;
        color: #FFFFFF;
        padding-top: 5px;
        text-decoration: none;
        margin-bottom: 30px;
      }
    }
  }
